.home__menu.row
    .col-0.align-self-center
        img(src='../static/images/logo.png' class='img-fluid' style='width: 100px')
    .col.align-self-center.p-5
        .row.justify-content-end
            a(href='#' class='text-white ml-3') Lorem
            a(href='#' class='text-white ml-3') Ipsum
            a(href='#' class='text-white ml-3') Phasellus